@import 'mixins';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #08085E; 
  --secondary-color: #286ACE;
  --complementary-color: #01676B;
  --error-color: #EB5353;
  --bg-light: #FBFFFE;
  --roboto: "Roboto", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --redhat: "Red Hat Display", sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


